basic-drone-control {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

advanced-drone-control {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

replay-control {
  position: absolute;
  bottom: 150px;
  left: 30px;
}

video-stream {
  display: grid;
  height: 100%;
}

app-command-log {
  position: absolute;
  left: 0;
  top: 65px;
}

battery-status-component {
  position: absolute;
  left: 200px;
  top: 65px;
}

telemetry-component {
  position: absolute;
  right: 10px;
  top: 65px;
}

.speed-slider {
  position: absolute;
  left: calc(50% - 125px);
  bottom: 70px;
}