basic-drone-control {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

advanced-drone-control {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

video-stream {
    display: grid;
    height: 100%;
}

app-command-log {
    position: absolute;
    left: 0;
    top: 65px;
}

battery-status-component {
    position: absolute;
    left: 180px;
    top: 70px;
}
